* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-image: url('/src/images/background.jpg');
    background-size: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

div#content {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(4, 25vh);
    grid-template-areas: 
        "header"
        "body"
        "body"
        "footer";
    
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    background-color: rgba(127, 127, 127, .5);
    height: 25vh;
}

header h1 {
    color: aqua;
    grid-column: 1 / span 4;
    font-size: 6rem;
}

nav.nav-bar {
    grid-column: 1 /span 4;
    grid-row: 2;
    font-size: 3rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, calc(100vw/3));
}

div.welcome {
    grid-area: body;
    display: grid;
}

footer {
    color: aqua;
    grid-area: footer;
    align-self: center;
}

a {
    text-decoration: none;
    color: inherit;
}